.texto1{

    background-color: #f35345;
    color: #00ffff;
}

.texto2{
    background-color: #5ff345;
    color: #1100ff;
}

.texto3{
    background-color: #65bca6;
    color: #395330;
}

.texto4{
    background-color: #dd8e87;
    color: #70aeae;
}

.texto5{
    background-color: #824c47;
    color: #42bd5d;
}